**/.DS_Store
.git
**/.git
**/.idea
**/.vs
**/bin
**/obj
**/*.user
**/*.suo
**/*.DotSettings.user
**/.env
**/.env.*
**/appsettings.Local.json

whist.users.json
whist.highlights.json
whist.rules.json

README.md
